* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}




/* Social Media on the right Side Goes Here */
#right_fixed_social_media {
    position: relative;
    z-index: 1;
}

#right_fixed_social_media .container__right_social_media {
    position: fixed;
    top: 45%;
    right: 0;
    width: 45px;
    background: #343a40;
    padding: 10px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

#right_fixed_social_media .container__right_social_media .container__right_social_media_d-block {
    display: block;
}

#right_fixed_social_media .container__right_social_media .container__right_social_media_d-block a i {
    color: #7b7d81;
    transition: all .3s ease-in-out;
    font-size: 1.5rem;
    cursor: pointer;
}

#right_fixed_social_media .container__right_social_media .container__right_social_media_d-block a i:hover {
    color: #fff;
}
/* Social Media on the right Side Ends Here */





/* Navbar Styling Goes Here  */
nav {
    transition: all .2s ease-in-out;
}

nav .container {
    padding: 15px!important;
}

nav .container .navbar-toggler .bi {
    font-size: 2.5rem;
    color: #007bff;
}

nav .navbar-brand {
}

nav .navbar-brand img {
    width: 25%;
}

nav .container .collapse ul li a {
    color: white;
    font-weight: 500;
}

nav .container .collapse .navbar-nav .nav-item {
    position: relative;
}

nav .container .collapse .navbar-nav .nav-item .nav-link.active {
    color: #007bff;
}

nav .container .collapse .navbar-nav .nav-item .nav-line {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background: #007bff;
    transition: all .2s ease-in-out;
}

nav .container .collapse .navbar-nav .nav-item:hover .nav-line {
    width: 100%;
    transition: all .2s ease-in-out;
}
/* Navbar Styling Ends Here  */




/* Hero Styling Goes Here */
#hero {
    position: relative;
    height: 100vh;
    width: 100%;
}

#hero .container .row .col-md-3 {
    text-align: center;
    color: #7b7d81;
}

#hero .container .row.hero__bottom {
    padding: 10px;
    flex-wrap: nowrap;
}

#hero .container .row .col-md-3 img {
    width: 100px;
    height: 90px;
}

@media screen and (max-width: 768px) {
    #hero {
        min-height: 150vh;
    }

    #hero .container .row .col-md-3 img {
        width: 50px;
        height: 50px;
    }
}

@media screen and (max-width: 450px) {
    #hero .container .row.hero__bottom {
        flex-wrap: wrap!important;
    }
}

@media screen and (max-width: 320px) {
    .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
        padding-right: unset!important;
        padding-left: unset!important;
    }
}

#hero .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#hero .container .row .col-md-12 .carousel-inner .carousel-item .carousel-caption-text {
    position: relative;
}

#hero .container .row .col-md-12 .carousel-inner .carousel-item .carousel-caption-text .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #7b7d81;
}

#hero .container .row .col-md-12 .carousel-inner .carousel-item .carousel-caption-text .text  span {
    color: #007bff;
}

#hero .container .row .col-md-12 .carousel-inner .carousel-item .carousel-caption-text .text h1 {
    font-weight: 800;
    color: white;
}

.carousel-control-prev .bi-arrow-left-circle, .carousel-control-next .bi-arrow-right-circle {
    color: #007bff;
    font-size: 2rem;
    font-weight: 800;
}

@media screen and (max-width: 768px) {
    #hero .container .row .col-md-12 .carousel-inner .carousel-item .carousel-caption-text {
        order: 2;
        height: 350px;
    }
}
/* Hero Styling Ends Here */




/* About Section Styling Goes Here */
#about {
    width: 100%;
}

#about .container {
    padding: 15px;
}

#about .container .row .col-md-6 {
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
}

#about .container .row .col-md-6 img {
    width: 100%;
    height: 100%;
}

#about .container .row .col-md-6 h1 {
    font-size: 3.5rem;
    font-weight: 800;
}

#about .container .row .col-md-6 .btn {
    border: none;
    outline: none;
    color: white;
    background: #007bff;
    font-weight: 800;
    box-shadow: 0 4px 4px #007bff, 0 4px 16px #007bff;
}
/* About Section Styling Ends Here */




/* Card Section Goes Here */
#cards {
    width: 100%;
}

#cards .container {

}

#cards .container .row .cards_column {
    position: relative;
    box-shadow: 0 8px 8px 0 rgb(0 0 0 / 10%), 0 20px 20px 0 rgb(0 0 0 / 20%);
    border-radius: 15px;
    border: 0;
    transition: all .3s ease-in-out;
    cursor: pointer;
    padding: 20px;
    height: 350px;
}

#cards .container .row .cards_column:nth-child(2n - 1) {
    background: #fff5e1!important;
}

#cards .container .row .cards_column:nth-child(2n) {
    background: #d9e0ff!important;
}

#cards .container .row .cards_column .card__img {
    position: absolute;
    bottom: 0;
    right: 0;
    transition: all .3s ease-in-out;
    opacity: 0.3;
}

#cards .container .row .cards_column .card__img img {
    width: 250px;
    transition: all .3s ease-in-out;
    z-index: -1;
}

#cards .container .row .cards_column h1 {
    z-index: 11;
}

#cards .container .row .cards_column .btn {
    width: 150px;
    transition: all .2s ease-in-out;
    background: transparent;
    border: 3px solid #007bff;
    color: #007bff;
    z-index: 11;
}

#cards .container .row .cards_column:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 8px 0 rgb(0 0 0 / 20%), 0 20px 20px 0 rgb(0 0 0 / 30%);
}

#cards .container .row .cards_column:hover .card__img img {
    transform: scale(1.2);
}

#cards .container .row .cards_column:hover .btn {
    background: #007bff;
    border: 3px solid #007bff;
    color: white;
    box-shadow: 0 4px 4px 0 #007bff, 0 8px 8px 0 #007bff;
}

@media screen and (max-width: 768px) {
    #cards .container .row .cards_column:hover .card__img img {
        transform: scale(1.2);
    }
}
/* Card Section Ends Here */




/* Service Section Styling Goes Here */
#services {
    width: 100%;
}

#services .container {
    padding: 15px;
}

#services .container .row .col-md-6 {
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
}

#services .container .row .col-md-6 img {
    width: 100%;
    height: 100%;
}

#services .container .row .col-md-6 h1 {
    font-size: 3.5rem;
    font-weight: 800;
}

#services .container .row .col-md-6 ul {
    list-style: none;
}

#services .container .row .col-md-6 .btn {
    border: none;
    outline: none;
    color: white;
    background: #007bff;
    font-weight: 800;
    box-shadow: 0 4px 4px #007bff, 0 4px 16px #007bff;
}
/* Service Section Styling Ends Here */




/* Number Count Animation Section Styling Goes Here */
#number {
    width: 100%;
}

#number .container {
    padding: 20px;
}

#number .container h1 {
    
}

#number .container .row .col-md-4 .card .counter-value {
    font-size: 2.5rem;
    font-weight: 800;
    color: black;
}

#number .container .row .col-md-4 .card {
    border: none;
    text-align: center;
    outline: none;
    color: #7b7d81;
}

#number .container .row .col-md-4 .card img {
    width: 40%;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#number .container .row .col-md-4 .card h3 {
    font-size: 0.9rem;
}
/* Number Count Animation Section Styling Ends Here */







/* Constants Styling Goes Here */

.card {
    margin: 20px;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-right: unset;
    padding-left: unset;
}

@media screen and (max-width: 768px) {
    .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
        padding-right: 15px;
        padding-left: 15px;
    }
}

/* Constants Styling Goes Here */





/* Contact Styling Goes Here */
#contacts {

}

#contacts .container .row .col-md-6 .row {
    margin-left: unset;
    margin-right: unset;
    flex-wrap: nowrap;
}

#contacts .container .row .col-md-6 .row .bi {
    font-size: 3.5rem;
    background-color: #343a40;
    padding: 0px 20px;
    align-items: center;
    /* box-shadow: 0 8px 8px 0 rgb(0 0 0 / 20%), 0 20px 20px 0 rgb(0 0 0 / 30%); */
    border-radius: 10px;
    color: white;
}

#contacts .container .row .col-md-6 .row .bi::before {
    line-height: unset;
}

#contacts .container .row .col-md-6 .row .d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#contacts .container .row .col-md-6 .row .d-flex h5 {
    color: #7b7d81;
}

#contacts .container .row .col-md-6 .row .d-flex a {
    font-size: 1.5rem;
    color: #000;
    font-weight: 600;
}

#contacts .container .row .col-md-6.forms {
    align-items: center;
    justify-content: center;
    margin: auto;
}
/* Contact Styling Ends Here */





/* Footer Styling Goes Here */
#footer {
    padding-bottom: 50px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50px;
    background: #2c2c2c;
}

#footer .container .row .col-md-3 div ul {
    list-style: none;
}

#footer .container .row .col-md-3 div h3 {
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
}

#footer .container .row .col-md-3 div ul li {
    position: relative;
}

#footer .container .row .col-md-3 div ul li a {
    color: #7b7d81;
    font-size: 0.9rem;
    text-decoration: none;
    font-weight: 500;
}

#footer .container .row .col-md-3 div form .form-group input {
    border: 0;
    border-radius: 0;
    outline: 0;
    background: #353535;
    color: white;
}


#footer .container .row .col-md-3 div form .form-group button {
    background: #353535;
    color: white;
    border: 0;
    border-radius: 0;
    outline: 0;
}

#footer .container .row .col-md-3 div ul li .footer-line {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background: #575656;
    transition: all .2s ease-in-out;
}

#footer .container .row .col-md-3 div ul li:hover .footer-line {
    width: 100px;
    transition: all .2s ease-in-out;
}

#footer .container .row .col-md-3 div .footer_call_center h5 {
    color: #7b7d81;
}

#footer .container .row .col-md-3 div hr {
    background: #575656;
}

#footer .container .row .col-md-3 div .footer_social_media ul {
    list-style: none;
    display: flex;
}

#footer .container .row .col-md-3 div .footer_social_media ul li {
    padding-left: 5px;
    padding-right: 5px;
}

@media screen and (min-width: 1148px) {
    #footer .container .row .col-md-3 div .footer_social_media ul li {
        padding-left: 20px!important;
        padding-right: 20px;
    }
}

#footer .container .row .col-md-3 div .footer_social_media ul li a {
    font-size: 2rem;
    transition: all .3s ease-in-out;
}

#footer .container .row .col-md-3 div .footer_social_media ul li a:hover {
    color: #fff;
}

#footer .container .row .footer_all_rights {
    color: white;
    font-size: 0.9rem;
}
/* Footer Styling Ends Here */